# GCP Configuration
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=asia-southeast1
GCP_SERVICE_ACCOUNT_KEY_PATH=./gcp-service-account-key.json

# BigQuery Configuration
BQ_DATASET_RAW=raw_hdb
BQ_DATASET_DBT=dbt_sthyagaraj

# GCS Configuration
GCS_BUCKET_RAW=hdb-raw-bucket
GCS_BUCKET_STAGING=hdb-staging-bucket

# Data Pipeline
DATA_LOAD_BATCH_SIZE=10000
KESTRA_URL=http://localhost:8080

# data.gov.sg API (sign up at https://guide.data.gov.sg/developers/api-overview for higher rate limits)
DATA_GOV_SG_API_KEY=your-api-key-here

# OneMap API (Singapore)
ONEMAP_API_URL=https://www.onemap.gov.sg/api/common/elastic/search
ONEMAP_AUTH_URL=https://www.onemap.gov.sg/api/auth/post/getToken
ONEMAP_EMAIL=your-onemap-email
ONEMAP_PASSWORD=your-onemap-password
